@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600, ÓÉù 600i,700,700i,800,800i,900,900i&display=swap');
body {
font-family: 'Playfair Display', serif; background-color:#fcf6e7;
margin: 0;
padding: 0;
} header, footer {
background: #282009; color: #FFFFFF; padding: 30px; text-align: center;
}
h1 {
font-weight: 900; }
main, aside {
    margin: 30px;
}
aside {
    background: #272727;
    color: #FFFFFF;
    padding: 30px;
}
.byline {
font-family: Futura, sans-serif;
font-style: italic; }
p{
font-size: 18px;
    margin: 30px 0;
}