div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px;
    padding: 15px;
}

@media screen and (max-width: 599px) {
    div {
        display: block;
        padding: 0; 
    }
}