div {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr; 
}

@media screen and (min-width: 600px) { 
    div {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr; 
    }
}