body {
    max-width: 700px;
    padding: 30px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif; background-color:#fcf6e7;
}

h1 {
    color: #282009;
    font-size: 4em; 
    font-weight: 900; 
    letter-spacing: 0.08em;
}

.byline {
    font-family: Futura, sans-serif; 
    font-style: italic;
    font-weight: bold; 
    text-decoration: underline;
}

header img { 
    width: 50px;
    height: auto;
    vertical-align: middle; 
}

.primary-content { 
    background: #FFFFFF;
    padding: 30px; 
}
p {
font-size: 24px; 
}