div {
    width: 200px;
    height: 200px;
    background: red;
    animation: switch 4s infinite;
}
@keyframes switch {
0% {
        background: red;
    }
50% {
        background: blue;
    }
100% {
        background: red;
    }
}